.ChatContainer-Parent {
    display: grid;
    grid-template-rows: 10% 70% 20%;
    height: 100vh;
}

.ChatContainer-Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 4vw;
    background-color: white;
    font-size: 1.5em;
}

.ChatContainer-Header > .Link-Button {
    padding: 1.5vh 2vw;
    text-decoration: none;
    font-size: 1em;
    background-color: rgb(255, 226, 226);
    color: red;
    transition: 350ms;
}

.ChatContainer-Header > .Link-Button:hover {
    background-color: red;
    color: white;
    transition: 350ms;
}

.ChatContainer-Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: scroll;
    overflow-x: hidden;
}

.ChatContainer-Input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
    padding: 2vh 2vw;
    background-color: white;
}

.ChatContainer-Input textarea {
    width: 80%;
    height: 100%;
    padding: 2vh 1vw;
    resize: none;
    font-size: 1.5em;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.ChatContainer-Input button {
    padding: 1.5vh 5vw;
    font-size: 1.5em;
    background-color: rgb(170, 170, 255);
    color: white;
    transition: 350ms;
}

.ChatContainer-Input button:hover {
    background-color: rgb(90, 90, 255);
    transition: 350ms;
}

button, .ChatContainer-Header > .Link-Button {
    border: none;
    border-radius: 5px;
}