body {
    background-color: rgb(241, 246, 255);
    margin: 0;
}

.Login-Title-Container {
    width: 100%;
    padding: 1vh 0vw 1vh 0vw;
}

.Login-Title-Container h1 {
    text-align: center;
}

.Login-Input-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0vh 0vw 2vh 0vw;
}

@media(max-width: 700px) {
    .Login-Parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 50vh;
        background-color: white;
    }

    .Login-Input-Container input {
        width: 90%;
        height: 10vw;
        padding: 0vh 1vw 0vh 1vw;
        border: 1px solid lightgray;
        border-radius: 3px;
        font-size: 1em;
    }

    .Login-Input-Container button {
        height: 10vw;
        width: 25vw;
        margin: 2vh 0vw 0vh 0vw;
        border: 0;
        border-radius: 3px;
        background-color: red;
        color: white;
        font-size: 1em;
    }
}

@media(min-width: 701px) and (max-width: 1000px) {
    .Login-Parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 50vh;
        background-color: white;
    }

    .Login-Input-Container input {
        width: 90%;
        height: 5vw;
        padding: 0vh 1vw 0vh 1vw;
        border: 1px solid lightgray;
        border-radius: 3px;
        font-size: 1em;
    }

    .Login-Input-Container button {
        height: 5vw;
        width: 20vw;
        margin: 2vh 0vw 0vh 0vw;
        border: 0;
        border-radius: 3px;
        background-color: red;
        color: white;
        font-size: 1em;
    }
}

@media(min-width: 1001px) {
    .Login-Parent {
        position: absolute;
        left: 25%;
        top: 25%;
        width: 50%;
        border-radius: 5px;
        background-color: white;
    }

    .Login-Input-Container input {
        width: 90%;
        height: 3vw;
        padding: 0vh 1vw 0vh 1vw;
        border: 1px solid lightgray;
        border-radius: 3px;
        font-size: 1em;
    }

    .Login-Input-Container button {
        height: 3vw;
        width: 10vw;
        margin: 1.5vh 0vw 0vh 0vw;
        border: 0;
        border-radius: 3px;
        background-color: red;
        color: white;
        font-size: 1em;
    }
}