.Message-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 0vh 2vw 1vh 2vw;
}

#Message {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 1vh;
}

.sentMessage {
    flex-direction: row-reverse;
}

.sentMessage-Content {
    background-color: rgb(85, 96, 128);
    color: rgb(231, 236, 237);
}

.sentMessage-Content :last-child {
    color: white;
}

.receivedMessage-Content {
    text-align: left;
    background-color: rgb(231, 236, 237);
    color: rgb(85, 96, 128);
}

.receivedMessage-Content :last-child {
    color: black;
 }

.Message-Username {
    font-weight: bold;
}

@media (max-width: 1000px) {
    #Message-Content {
        max-width: 50%;
        min-width: 12%;
        border-radius: 20px;
        margin: 0vh 1vw;
        padding: 2vh 4vw 2vh 4vw;
    }

    img {
        width: 7vw;
        height: 7vw;
    }
}

@media (min-width: 1001px) {
    #Message-Content {
        max-width: 50%;
        border-radius: 20px;
        margin: 0vh 1vw;
        padding: 2vh 1vw 2vh 1vw;
    }

    img {
        width: 2vw;
        height: 2vw;
    }
}